In [1]:
import pandas as pd

In [6]:
geocodetotal = pd.read_csv('../data/geocodetotal.csv')
geocodetotal

                   address        lat        lng
0         1022 SEYMOUR AVE  36.185726 -86.750575
1        1310 EASTLAND AVE  36.183276 -86.745370
2             617 S 5TH ST  36.165976 -86.760884
3          2409 EMMETT AVE  36.195349 -86.747668
4      2930 DICKERSON PIKE  36.223448 -86.761631
...                    ...        ...        ...
18976     4140 CREEKWOOD N  36.216213 -86.845592
18977       923 16TH AVE N  36.166041 -86.800870
18978      2131 14TH AVE N  36.187328 -86.810324
18979       2417 HERMAN ST  36.162061 -86.813110
18980    631 W NOCTURNE DR  36.210620 -86.800515

[18981 rows x 3 columns]

In [8]:
chartsclean = pd.read_csv('../data/charts_clean.csv')
chartsclean

,Month,Precinct,ASSIST EMS,DISORDERLY SUBJECT,DOMESTIC DISTURBANCE,INTOXICATED PERSON,MENTAL CONDITION,SUICIDAL PERSON,SUSPICIOUS PERSON,TRESPASSER,...,Priority_2L,Priority_2M,Priority_2N,Priority_2T,Priority_2R,Priority_3,Priority_3H,Priority_3M,Priority_3Q,Total Response
0,August,C,203,354,11,7,28,43,18,104,...,0,251,0,0,0,21,0,1,0,853
1,August,CMD1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,August,CW,3,8,0,0,1,1,1,3,...,0,17,0,0,0,0,0,0,0,19
3,August,E,91,187,56,3,13,16,44,33,...,0,126,0,0,0,12,0,2,0,531
4,August,H,190,310,64,5,28,31,69,68,...,0,190,0,0,0,32,0,4,0,955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,March,M,147,174,49,4,16,31,33,30,...,0,219,0,0,1,37,0,1,0,607
83,March,MT,149,199,31,7,10,21,53,49,...,0,217,0,0,0,11,0,0,0,659
84,March,N,122,209,35,1,24,26,34,53,...,0,139,0,0,0,33,0,3,0,623
85,March,S,198,286,59,3,27,29,42,66,...,0,220,0,0,0,40,0,0,0,946
86,March,W,87,131,11,4,12,14,46,36,...,0,132,0,0,0,16,0,2,0,444

In [10]:
callsclean = pd.read_csv('../data/calls_clean.csv')
callsclean

,Month,Precinct,Date,Created,Address,Incident Type,Priority
0,July,C,07-01-2021,01:57:16,639 LAFAYETTE ST,INTOXICATED PERSON,2
1,July,C,07-01-2021,03:02:52,920 BROADWAY,WELFARE CHECK,2
2,July,C,07-01-2021,05:44:47,110 4TH AVE S,DISORDERLY SUBJECT,2
3,July,C,07-01-2021,05:49:07,800 4TH AVE S,SUSPICIOUS PERSON,2
4,July,C,07-01-2021,08:01:06,1033 DEMONBREUN ST,TRESPASSER,2
...,...,...,...,...,...,...,...
47921,March,W,03-31-2022,11:46:52,3811 HILLSBORO PIKE,TRESPASSER,2
47922,March,W,03-31-2022,12:24:06,7277 CHARLOTTE PIKE,SUICIDAL PERSON,2
47923,March,W,03-31-2022,17:59:25,MURPHY RD / 42ND AVE N,DISORDERLY SUBJECT,2
47924,March,W,03-31-2022,20:31:47,2828 KENWAY RD,SUSPICIOUS PERSON,2
47925,March,W,03-31-2022,22:30:34,CLIFTON AVE / 40TH AVE N,SUSPICIOUS PERSON,2

# merge callsclean and geocodetotal

# combine priority calls into 1,2,3 only